{% extends 'base.html' %}
{% block content %}
    <div>
        <h3>Remark Attendance</h3>
        <form action="{% url 'create-attendance' %}" method="post">
            {% csrf_token %}
            <div class="col-lg-6">
                <label for="date">Date</label>
                 <input type="date" required name="date" class="form-control">
            </div>
            <div class="col-lg-6">
                <label for="remark">Remark</label>
                <select name="remark" class="form-control">
                    <option value="0">P</option>
                    <option value="1">L</option>
                    <option value="2">A</option>
                </select>
            </div>
            <div class="col-lg-6">
                <label for="student_id">Student</label>
                <select name="student_id" class="form-control">
                    {% for st in students %}
                        <option value="{{ st.id }}">{{ st.firstname }} {{ st.lastname }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-6">
                <input type="submit" value="Submit" class="btn btn-sm btn-primary" style="margin-top: 25px;">
            </div>

        </form>
    </div>
{% endblock %}