{% extends 'base.html' %}
{% block content %}
    <div>
        <h3>Search by phone</h3>
        <form action="/student/parents/update/{{ parent.id }}" method="post">
            {% csrf_token %}

            <div class="col-lg-6">
                <label for="phone" >Phone</label>
                <input type="text" required value="{{ parent.phone }}" name="phone" class="form-control" placeholder="e.g +855 123456789">
            </div>
            <div class="col-lg-6" style="margin-top: 20px;">
                <input type="submit"
                       value="Save changes"
                       class="btn btn-sm btn-primary">
            </div>
        </form>
    </div>
{% endblock %}