{% extends 'base.html' %}

{% block content %}
    <div>
        <a href="{% url 'classroom-create-subject' %}">Assign New Subject</a>
        <h3>Subject Listing</h3>
        <table class="table table-striped table-hover table-responsive">
            <thead class="table">
                <th>No</th>
                <th>Subject name</th>
                <th>Grade</th>
                <th>Activity</th>
            </thead>
            <tbody class="table">
                
                {% for subject in subject_list %}
                    <tr>
                        <td>{{subject.id}}</td>
                        <td>{{subject.subject_name}}</td>
                        <td>{{subject.grade.grade_name}}</td>
                        <td>
                            <a href="/classroom/modify-subject/{{ subject.id }}">Modify</a>
                            <a href="" data-toggle="modal" data-target="#modal{{ subject.id }}">Delete</a>
                        </td>
                    </tr>

                    <!-- Modal Delete -->
                    <div id="modal{{ subject.id }}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Do you want to delete grade?</h4>
                            </div>
                            <div class="modal-body">
    
                            <p>Subject Name: <b>{{ subject.subject_name }}</b></p>
                            <p>This will delete forever! Click `<b>Yes</b>` to confirm.</p>
    
                            </div>
                            <div class="modal-footer">
                            <form action="/classroom/delete-subject/{{ subject.id }}" method="post">
                                {% csrf_token %}
                                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">No</button>
                                <input type="submit" value="Yes" class="btn btn-sm btn-danger">
                            </form>
                            </div>
                        </div>
    
                        </div>
                    </div>
                    <!-- End Modal Delete -->
  

                    
                {% endfor %}
                    
            </tbody>
        </table>
        {% if grade_list.has_other_pages %}
            <ul class="pagination">
                {% if grade_list.has_previous %}
                <li><a href="?page={{ students.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in grade_list.paginator.page_range %}
                {% if grade_list.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if grade_list.has_next %}
                <li><a href="?page={{ grade_list.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
    
{% endblock content %}
    